blinker            
certifi          
charset-normalizer 
click              
Flask              
idna              
itsdangerous      
Jinja2             
MarkupSafe        
numpy              
pandas            
pip                
python-dateutil    
pytz              
requests          
schedule          
setuptools        
six                
tzdata             
urllib3           
Werkzeug           
