{% extends 'base.html' %} {% block title %}Shitcoins Filtered Today{% endblock
%} {% block content %}
<div class="container mt-5">
  <h2>New ShitCoins Found</h2>
  {% if coins %}
  <table class="table table-bordered">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Symbol</th>
        <th>Name</th>
        <th>Added at</th>
      </tr>
    </thead>
    <tbody>
      {% for coin in coins %}
      <tr>
        <td>{{ coin.Id }}</td>
        <td>{{ coin.Symbol }}</td>
        <td>{{ coin.Name }}</td>
        <td>{{ coin.Added }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div class="alert alert-info" role="alert">
    {% if message %} {{ message }} {% else %} No new coins to display. {% endif
    %}
  </div>
  {% endif %}
</div>
{% endblock %}
